<html>

<head>

  <!-- <link rel="stylesheet" type="text/css" href="utility.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <!-- <script src="utility.js"></script> -->

  <!-- <script src="ajax-services.js"></script> -->
<!--  <script src="Chart.bundle.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>



  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/home">Home</a></li>
          <li class="active"><a href="/vendors">Vendors</a></li>
          <li><a href="/expenses">Expenses</a></li>
          <li><a href="/bills">Bills</a></li>
          <li><a href="/sales">Sales</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </div>
    </nav>
