.addButton{
     position: fixed !important;
     right: 30;
     bottom: 30;
}
 .modalCss{
     z-index: 1003;
     display: block;
     opacity: 1;
     transform: scaleX(1);
     top: 5%;
}
 .icon-size{
     font-size:25px;
}
 html {
     font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
 .modal {
     width: 70% !important ;
     height: 85% !important ;
     max-height: 80% !important ;
}
/* increase the height and width as you desire */
 .container {
     margin: 0 auto;
     max-width: 1280px;
     width: 90% !important;
}
 .material-icons{
     color: #42a5f5;
     font-size: 14px;
}
 .bodyBlur > *:not(#modal1) {
     -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
     -o-filter: blur(5px);
     -ms-filter: blur(5px);
     filter: blur(5px) grayscale(20%);
}
 table{
     font-size:15px;
}
 td {
     max-width:30px;
}
 th > span{
     vertical-align:super;
}
 .itemTable table{
     width:90%;
     margin-left:3%;
}
 .itemTable td {
     padding: 5px 5px;
}
 .itemTable input{
     border-bottom:none !important;
}
 .total{
     margin-top:5% !important;
     float:right !important;
}
 .itemTable a{
     margin-top:2%;
     margin-left: 5%;
}
.expenseCard{
  font-size: 50px;
  margin-left: 15%;
  vertical-align: top;
}
.card-panel{
  border-radius:10px !important;
}
.card-panel input{
   border-bottom:none !important;
}
