/* .login{
  width:50%;
  margin-right:10%;
  display:flex !important;
  flex-direction: column;

} */


form{
 display: flex;
 justify-content: space-between;
 flex-direction: column;
}

.left-container{
width:60%;
height:100%;
}

.fifty-percent-width{
  width:50% !important;
  height:100%;
}

.login{
margin-left:10%;
}
.form-container{
  margin-top:10% !important;
  margin-left:20% !important;
}

.right-container {
  width:40%;
  height:800px;
}

.incognito img {
    border-radius: 50%;
    margin-left:10%;
    width:30%;
    border: solid 6px  #A0345E;
}

.recording{
  margin-left:10%;
}
.recording a{
  margin-left:15%;
}
.heading{
  font-family: "righteous", sans-serif;
  text-align: center;
}
.registration{
  margin-left: 30%;
margin-top: 15%;
}

.status label {
  margin-left:4%;
}

.phrase{
  margin-left:5%;
}

.submit{
  margin-left:35%;
}

/* Chat css */

.chat {
margin: 0 auto;
max-width: 500px;
padding: 0 20px;
height: 500px;
overflow: scroll;
}

.inner-chat {
border: 2px solid #dedede;
background-color: #f1f1f1;
border-radius: 5px;
padding: 10px;
margin: 10px 0;
width: 400px;
}

.darker {
border-color: #ccc;
background-color: #ddd;
}

.inner-chat::after {
content: "";
clear: both;
display: table;
}

.inner-chat img {
float: left;
max-width: 60px;
width: 100%;
margin-right: 20px;
border-radius: 50%;
}

.inner-chat img.right {
float: right;
margin-left: 20px;
margin-right:0;
}

.time-right {
float: right;
color: #aaa;
}

.time-left {
float: left;
color: #999;
}

.m-0 {
margin: 0 auto;
padding: 20px;
}

.forty-percent-width{
  width:40% !important;
}

.float-right {
  float: right;
  margin-right: 20%
}
