/* .login{
  width:50%;
  margin-right:10%;
  display:flex !important;
  flex-direction: column;

} */


form{
 display: flex;
 justify-content: space-between;
 flex-direction: column;
}

.left-container{
width:60%;
height:100%;
background-color:  #A0345E;
}

.thirty-percent-width{
  width:40%;
  height:100%;
}

.login{
margin-left:10%;
}
.form-container{
  margin-top:20% !important;
  margin-left:20% !important;
}

.incognito img {
    border-radius: 50%;
    margin-left:4%;
    width:19%;
    border: solid 6px  #A0345E;
}
